<%- include('./partials/head') %>

<main>

    <h1> Goedemorgen, Jennifer</h1>


    <article class="content">

        <div class="content_product_1">
            <h2>
                Speciaal voor uw Mini
            </h2>
            <img class="article-img" src="/Pinda_6stappen.webp" alt="img">
        </div>

        <div class="content_product_2">
            <h2>
                Alle producten
            </h2>
            <img class="article-img" src="/Pinda_doosjes.webp" alt="img">
        </div>

    </article>

</main>

  

    <!-- <div class="content">

            <% categories.forEach(category=> { %>

                <article class="content_product">

                    <h2>
                        <%= category.titel %> 
                        Speciaal voor jouw Mini
                    </h2>
                    
                    <h2>
                        Alle producten
                    </h2>
<!-- 
                    <img class="article-img" src="/Pinda_6stappen.webp" alt="img">
                    <img class="article-img" src="/Pinda_doosjes.webp" alt="img">  -->
                    <!-- <img class="article-img" src="/<%=category.titel%>.png"> -->
                    <!-- <a href="<%= category.titel %>"> Speciaal voor jouw Mini</a>

                </article>
                </a>
                <% }); %>  -->

        <!-- </div>  --> 



  

    <%- include('./partials/foot') %>